* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #e5e1e1;
    color: #000000;
}

header {
    text-align: center;
    background: #000000;
    color: white;
    padding: 80px 20px;
}

header h1 {
    font-size: 45px;
}

header span {
    color: #fff700;
}

header p {
    margin-top: 15px;
    font-size: 20px;
}


/* Sections */

section {
    width: 85%;
    margin: 40px auto;
}

section h2 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 30px;
}


/* Boxes */

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    flex: 1;
    min-width: 220px;
    background: rgb(16, 15, 15);
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(40, 211, 230, 0.959);
    transition: .3s;
    color: aliceblue;
}


/* Paragraph */

p {
    line-height: 1.8;
    font-size: 18px;
}


/* Footer */

footer {
    background: #000000;
    color: rgb(208, 255, 0);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.img{
   color: #000000;
    margin-bottom: 20px;
    font-size: 30px;
    margin-inline-start: 8%;
}
}
h3{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-shadow: #e5e1e1;
}

.photo{
    margin-inline-start: 8%;
}